body {
    font-family: Arial, sans-serif;
    background-image:url('https://getwallpapers.com/wallpaper/full/5/1/c/888681-best-library-background-images-1920x1080-retina.jpg');
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    text-align: center;
    margin-bottom: 20px;
}
h1{
    color:#fff;
}
.card {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #495057;
}

p {
    margin-bottom: 10px;
    color: #28a745; /* Success message color */
}

.form {
    display: flex;
    flex-direction: column; /* Change flex direction to column */
}

.right, .left {
    margin-bottom: 20px; /* Add margin between columns */
}

label {
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
select {
    width: 100%; /* Set width to 100% */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ced4da;
    border-radius: 4px;
}

button[type="submit"] {
   
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #495057;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s, border-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #495057;
}
