@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


  body {
    background-image: url('https://www.efacility.in/wp-content/uploads/2020/10/Library-Management-Landing-Banner-1024x576.jpg');
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed; /* Keeps the background fixed relative to the viewport */
    background-color: #f8f9fa;
    color: #212529;
    font-size: 16px;
    line-height: 1.6;
  }
  


.card {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  margin-top: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.form {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.right, .left {
  width: 100%;
  flex: 1;
}

.sub {
  margin-top: 20px;
  width: 100%;
}

input {
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  border: 1px solid #ced4da;
  border-radius: 4px;
  font-size: 16px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.btn-primary {
  color: #fff;
  background-color: #0056b3;
  border-color: #004085;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

.btn-secondary {
  color: #fff;
  background-color: #0056b3;
  border-color: #0056b3;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, border-color 0.3s;
}

.btn-secondary:hover {
  background-color: #0056b3;
  border-color: #004085;
}

p {
  color: white;
  margin-bottom: 15px;
}
